Summarise MS Teams Channel Activity.json
{
  "name": "Summarise MS Teams Channel Activity for Weekly Reports with AI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "ee39f797-6f6f-4a62-9cf1-0c95b47baf23",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1856,
        928
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "1be03962-5028-47a8-8deb-3c59c121df01",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2080,
        1360
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "4MwxYwGMJ94BFtJU",
          "name": "OpenAi account DB"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "67c23cf0-9af6-4a89-94c0-7a3e01230b2f",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2352,
        1664
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "4MwxYwGMJ94BFtJU",
          "name": "OpenAi account DB"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "destinationKey": "html",
        "options": {}
      },
      "id": "464a925f-eb06-4b59-a262-ca336506de15",
      "name": "Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "position": [
        1888,
        1808
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "=id-here",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "=19:XyZ9876543210QwErTyUiOpAsDfGhJkLz@thread.tacv2",
          "mode": "id"
        },
        "contentType": "html",
        "message": "={{ $json.html }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "ecb047a7-5d52-4e87-8d0e-c9c17489cddc",
      "name": "Send Report to Channel",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        2464,
        1808
      ],
      "webhookId": "b36a534a-1bca-4c3d-ab25-777ca98fba1a",
      "typeVersion": 2,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "4S64KKKX5ta0zX7S",
          "name": "Microsoft Teams account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## 1. Gather Last Week’s Channel Activity",
        "height": 80,
        "width": 348,
        "color": 7
      },
      "id": "e1d371c8-9069-4a33-a450-78055769931b",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Create Individual Team Member Reports",
        "height": 80,
        "width": 348,
        "color": 7
      },
      "id": "8d4c7621-3c04-4fbe-bbee-b7dade2ab837",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        1232
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Create Final Team Report”",
        "height": 80,
        "width": 344,
        "color": 7
      },
      "id": "22f3e375-201d-4a66-b1e0-592bbeb12eac",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        1536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Post Weekly Report in Team Channel",
        "height": 80,
        "width": 344,
        "color": 7
      },
      "id": "873c2510-cf01-464b-b84e-936bd1c4d7a7",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        1840
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "getAll",
        "teamId": {
          "__rl": true,
          "value": "=id-here",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "19:XyZ9876543210QwErTyUiOpAsDfGhJkLz@thread.tacv2",
          "mode": "id"
        }
      },
      "id": "c1b9fadc-586b-4edf-a19a-6995479d4de5",
      "name": "Get Channel Messages",
      "type": "n8n-nodes-base.microsoftTeams",
      "position": [
        2144,
        928
      ],
      "webhookId": "b36a534a-1bca-4c3d-ab25-777ca98fba1a",
      "typeVersion": 2,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "4S64KKKX5ta0zX7S",
          "name": "Microsoft Teams account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const messages = $input.all().map(item => item.json);\n\nconst groupByUserId = messages.reduce((acc,msg) => {\n  return {\n    ...acc,\n    [msg.from.user.id]: acc[msg.from.user.id]\n      ? acc[msg.from.user.id].concat(msg)\n      : [msg]\n  }\n}, {});\n\nconst output = Object.keys(groupByUserId).map(userId => {\n  const userMessages = groupByUserId[userId];\n  for (let i=0,j=userMessages.length;i<j;i++) {\n    if (userMessages[i].replyToId) {\n      userMessages[i].parent = messages.find(msg => msg.id === userMessages[i].replyToId);\n    }\n  }\n  return {\n    user: userMessages[0].from.user,\n    messages: userMessages\n  };\n});\n\nreturn { output };"
      },
      "id": "77aff845-5226-4023-a2da-afb2021a08ed",
      "name": "Combine Messages",
      "type": "n8n-nodes-base.code",
      "position": [
        2448,
        928
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "id": "ee415463-a7e2-43dd-abfa-4050cc230452",
      "name": "Items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1872,
        1216
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{\n{\n  ...$('Items').item.json,\n  report: $json.text\n}\n}}",
        "options": {}
      },
      "id": "919347aa-cd48-42ff-9504-dd66c5b18caa",
      "name": "Merge User Data",
      "type": "n8n-nodes-base.set",
      "position": [
        2448,
        1216
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "65111f1b-42c7-4657-9512-e740d75bdbdc",
      "name": "List",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        1872,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## User\nDisplayName: {{ $json.user.displayName }}\n\n## Messages\n{{\nArray.from($json.messages)\n.map(msg => {\n  return [\n    `Type: Message`,\n    `Posted: ${msg.createdDateTime}`,\n    `Message: ${msg.body.content.replaceAll('\\n', ' ')}`,\n    msg.parent ? `In Reply To: ${msg.parent.from.user.displayName} said \"${msg.parent.body.content.replace('\\n', ' ')}\"` : ''\n  ].join('\\n')\n}).join('---\\n')\n}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an energetic assistant responsible for creating weekly mini-reports on team members.\nEach report is based on their Ms Teams activity from the previous week and is posted every Monday.\n\nInputs available:\n\nA collection of threads started by the user in the past week.\nSummaries of any interactions they had with other team members.\n\nYour task:\nSummarize all of the user’s threads and interactions.\nHighlight wins (achievements, positive contributions).\nPoint out challenges (issues, blockers, or concerns).\nKeep the tone motivating, supportive, and team-oriented.\nIf applicable, welcome any new team members or say goodbye to those who left.\n\nGoal:\nProduce a concise mini-report that encourages the team, calls out notable highlights, and makes space for awareness of challenges."
            }
          ]
        }
      },
      "id": "04a75b1c-685f-4264-ade7-cb2778fc7d4f",
      "name": "Ms Team Weekly Report Agent v1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2080,
        1216
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{\n$input.first().json.data\n  .map(item =>\n`user: ${item.user.displayName} <${item.user.id}>\nmessage count: ${item.messages.length}\nreport: ${item.report.replaceAll('\\n', ' ')}`\n  )\n  .join('\\n---\\n')\n}}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an energetic assistant responsible for creating a team-wide weekly report.\nThis single report is based on the activity of all team members from the previous week and is posted every Monday.\n\nInputs available:\nIndividual mini-reports already collected from each team member.\n\nYour task:\nCombine the individual reports into a single team report.\n\nHighlight:\nWins (achievements, progress, positive moments).\nChallenges (issues, blockers, or concerns).\nSpot and connect similar activities or themes across team members.\nKeep the tone motivating, supportive, and future-focused.\n\nIf applicable:\nWelcome any new members.\nSay goodbye to those who may have left.\nFormatting requirements:\n\nUse Markdown for structure (headings, bullet points, emphasis where helpful).\n\nDo not include a sign-off at the end.\n\nGoal:\nProduce a concise, engaging report that motivates the team for the upcoming week while acknowledging successes and addressing challenges."
            }
          ]
        }
      },
      "id": "82a90342-cc4d-4d80-9ff6-83cab22861f4",
      "name": "Ms Team Weekly Report Agent - v2",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2304,
        1520
      ],
      "typeVersion": 1.6
    }
  ],
  "pinData": {},
  "connections": {
    "Markdown to HTML": {
      "main": [
        [
          {
            "node": "Send Report to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Channel Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ms Team Weekly Report Agent v1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ms Team Weekly Report Agent - v2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Channel Messages": {
      "main": [
        [
          {
            "node": "Combine Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Messages": {
      "main": [
        [
          {
            "node": "Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Items": {
      "main": [
        [
          {
            "node": "Ms Team Weekly Report Agent v1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Data": {
      "main": [
        [
          {
            "node": "List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List": {
      "main": [
        [
          {
            "node": "Ms Team Weekly Report Agent - v2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ms Team Weekly Report Agent v1": {
      "main": [
        [
          {
            "node": "Merge User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ms Team Weekly Report Agent - v2": {
      "main": [
        [
          {
            "node": "Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "7c96e480-b9ea-43cb-89f0-de3d34747f83",
  "meta": {
    "templateId": "3971",
    "templateCredsSetupCompleted": true,
    "instanceId": "4275106c8fd02c2533edab3f7741b7db420af0691c825fa5d46bbabd00ca51b7"
  },
  "id": "Ix3SfeVeygnduF6Y",
  "tags": []
}